@import '/home/tralph3/.config/colorschemes/current_colorscheme/colors.scss';

.bar {
    color: map-get($COLORS, "FOREGROUND_1");
    background-color: map-get($COLORS, "BACKGROUND_1");
    border-color: map-get($COLORS, "ACCENT_2");
}

.current {
    background-color: map-get($COLORS, "FOREGROUND_1");
    color: map-get($COLORS, "ACCENT_1");
}

.workspace-entry {
    padding: 0px 10px;
}
