.bar {
    color: #D9E0EE;
    background-color: #1e1e2e;
    border-color: #302D41;
}

.current {
    background-color: #D9E0EE;
    color: #96CDFB;
    padding-left: 10px;
    padding-right: 10px;
}
