[Desktop Entry]
Name=Dunst
Exec=/bin/bash -c "source $DOTFILES_DIR/scripts/colorscheme/reload_programs.sh && reload_dunst"
NoDisplay=true
Type=Application
